body {
    background-color: #f8f9fa;
    font-family: 'Vazir', sans-serif;
}

.card {
    border: none;
    border-radius: 1rem;
}

.btn-primary {
    background-color: #4CAF50;
    border: none;
}

    .btn-primary:hover {
        background-color: #45a049;
    }

.hero {
    background: linear-gradient(135deg, #343a40, #212529);
    color: white;
    padding: 100px 20px;
    text-align: center;
}

    .hero h1 {
        font-size: 3rem;
    }

.category-card:hover {
    transform: translateY(-5px);
    transition: 0.3s ease;
}