@model List<FurniShop.Application.ViewModels.Product.ProductViewModel>

@{
    ViewData["Title"] = "FurniShop | محصولات";
}

<!-- Header -->
<section class="bg-dark text-white text-center py-5">
    <div class="container">
        <h1 class="display-5 fw-bold">محصولات</h1>
        <p class="lead">جدیدترین مبلمان و دکوراسیون با قیمت مناسب</p>
    </div>
</section>

<!-- Products Grid -->
<section class="container my-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">

        <!-- Product 1 -->
        @foreach(var product in Model)
        {
            <div class="col">
                <div class="card product-card shadow-sm h-100">
                    <img src="@product.ImageUrl" class="card-img-top" >
                    <div class="card-body text-center">
                        <h5 class="card-title fw-bold">@product.ProductName</h5>
                        <p class="card-text text-muted mb-2">@product.Price</p>
                        <a href="/product/product_result?id=@product.ProductId" class="btn btn-sm btn-outline-success w-100">مشاهده جزئیات</a>
                    </div>
                </div>
            </div>
        }

    </div>
</section>